@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities{
   .wallet-css{
       @apply background-color: rgb(240,253,244) !important;
       @apply border: 2px solid green !important;
       @apply border-radius: 12px !important;
       @apply color: black !important;
    }
     
    .wallet-css:hover {
       @apply background-color: rgb(84, 218, 84) !important;
      @apply border: 2px solid green !important;
      @apply color: white !important;
    }
} */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.011em;
  font-size: 16px;
  line-height: 1.5;
}

@keyframes blob {
   0% { transform: translate(0px, 0px) scale(1); }
   33% { transform: translate(30px, -50px) scale(1.1); }
   66% { transform: translate(-20px, 20px) scale(0.9); }
   100% { transform: translate(0px, 0px) scale(1); }
 }
 
 .animate-blob {
   animation: blob 7s infinite;
 }
 
 .animation-delay-2000 {
   animation-delay: 2s;
 }
 
 .animation-delay-4000 {
   animation-delay: 4s;
 }